.container {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
}

.navigation-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav_link {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-decoration: none;
}

li.nav_link:hover {
  color: orange;
  cursor: pointer;
}

.nav-links li {
  display: inline;
  padding-right: 25px;
}

.nav-links a {
  text-decoration: none;
}

.shop-item {
  text-align: center;
}
